<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>myvue-demo</title>
    <meta name=viewport
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href=/templates/static/css/app.c8c0c5e0abe41140b33ec4d229faccaf.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/templates/static/js/manifest.a448f68d86731b4c7a1c.js></script>
<script type=text/javascript src=/templates/static/js/vendor.cd3c489c2b01f2d7a44c.js></script>
<script type=text/javascript src=/templates/static/js/app.b35eaf6c195268aa6bef.js></script>
</body>
</html>