<!DOCTYPE html>
<html>

<head>
    <title>Chat WebSocket</title>
    <script src="/static/js/sockjs.min.js"></script>
    <script src="/static/js/stomp.js"></script>
    <script type="text/javascript">
        var apiUrlPre = "http://10.200.0.126:9041/discovery";
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS('http://127.0.0.1:8080/processing');
            var from = document.getElementById('from').value;
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                //stompClient.subscribe('/topic/' + from, function(messageOutput) {
//                stompClient.subscribe('/topic/messages', function(messageOutput) {
//                    //                        alert(messageOutput.body);
//                    showMessageOutput(JSON.parse(messageOutput.body));
//                });
//                stompClient.subscribe('/topic/'+from, function(messageOutput) {
//                    //                        alert(messageOutput.body);
//                    showMessageOutput(JSON.parse(messageOutput.body));
//                });

            });
        }
//        stompClient.onmessage=function (event) {
//            showMessageOutput2(event.data);
//        }
//        stompClient.onclose = function(){
//            showMessageOutput2("close");
//        }
        function disconnect() {
            if(stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            var from = document.getElementById('from').value;
            var text = document.getElementById('text').value;
//            stompClient.send("/app/chat_user", {},
//            //stompClient.send("/app/chat", {},
//                JSON.stringify({
//                    'sender': from,
//                    'content': text
//                })
//            );
            stompClient.send("/app/processingApply", {},
                //stompClient.send("/app/chat", {},
                "10031");
        }

        function showMessageOutput(messageOutput) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(messageOutput.sender + ": " +
                messageOutput.content + " (" + messageOutput.sendTime + ")"));
            response.appendChild(p);
        }
        function showMessageOutput2(messageOutput2) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(messageOutput2));
            response.appendChild(p);
        }
    </script>
</head>

<body onload="disconnect()">
<div>
    <div>
        <input type="text" id="from" placeholder="Choose a nickname" />
    </div>
    <br />
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
            Disconnect
        </button>
    </div>
    <br />
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..." />
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>

</html>
